# Database Connections
DATABASE_URL="postgresql://iem_dating_user:iem_dating_password@localhost:5432/iem_dating_db?schema=public"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# Security
PORT=3000
JWT_ACCESS_SECRET="your-access-secret-key-min-32-chars-long"
JWT_REFRESH_SECRET="your-refresh-secret-key-min-32-chars-long"

# Environment
NODE_ENV="development"
CORS_ORIGIN="http://localhost:8081"
